.botonera {
    margin-top: 20px;
    width: 30%;
}

h2 {
    color: white;
    background-color: rgb(140, 95, 182);
    margin: 50px 0 50px 20px;
    display: inline;
    padding: 0.5em;
    border-radius: 10px;
   
}  

.mesbtn img {
    background-color: white;
    border: none;
    width: 6em;
}

.mesbtn {
    border: none;
}

.meses {
    display: flex;
    width: 100%;
    justify-content: start;
    margin: 50px 0 50px 20px;
    flex-wrap: wrap;
    
}

.meses li {
    list-style: none;
}

.contenedorCalendario {
    display: flex;
    justify-content: center;
     max-width: 1200px;
}

.calendario {
    width: 50%;
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 20px;
}

.meses .mesbtn.activo img{
    background-color: rgb(10, 173, 248);
    border-radius: 10px;
}

.contenedor {
    display: flex;
    justify-content: center;
}

#fc-dom-1{
    background-color: initial;
    color: black;
    text-align: center;
    padding: 0;
}

@media screen and (max-width: 576px){
    .contenedorCalendario{
        flex-direction: column;
        align-items: center;
    }
    .botonera{
        /* width: 100%; */
    }
    .mesbtn img {
        width: 1em;
    }
    .calendario{
        /* width: 100%; */
    }
    #fc-dom-1{
        font-size: 25px;
    }
}

@media (max-width: 992px){
    .mesbtn img{
        background-color: white;
        border: none;
        width: 4em;
    }
    .calendario{
       width: 50%;
    }
}

@media (max-width: 768px){
    .mesbtn img{
        background-color: white;
        border: none;
        width: 4em;
    }
}