.container_contacto {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta_contacto {
    width: 25%;
    background-color: #42bfdd;
    border-radius: 1.8em;
    padding: 1em;
    margin: 1em;
}

.tarjeta_contacto p {
    padding: 1em;
}

#map {
    height: 600px;
    width: 65%;
    margin: 2em;
    border-radius: 1.8em;
}

.container{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 576px) {
    .container_contacto{
        flex-direction: column;
        margin: 1.5em;
    }

    #map{
        order: -1;
        width: 100%;
    }

    .tarjeta_contacto{
        width: 100%;
    }
}
