/* ---Galería--- */

/* Organizar las fotos de forma horizontal */
.photos {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.photoIndividual {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.photoIndividual img {
    height: 16em;
    border-radius: 50%;
    padding: 1em 3em;
    transition: all 300ms ease 300ms;
}

.photoIndividual p {
    width: 15em;
    height: 5em;
    text-align: center;
    background-color: rgba(128, 105, 22, 0.5);
    padding: 1em;
    color: white;
    position: absolute;
    bottom: 0;
    border-radius: 16px;
    visibility: hidden;
    transition: all 300ms ease;
}

.photoIndividual img:hover {
    transform: scale(1.2);
}

.photoIndividual img:hover+p {
    visibility: visible;
}


/* ---Perfil--- */
.perfil {
    display: flex;
    justify-content: center;

}

.perfilArt {
    max-width: 1200px;
    border: 1px solid black;
    font-size: 2em;
    position: relative;
}

.perfilArt p {
    padding: 0.5em 1em 0.5em 1em;
}

.perfilTextHidden {
    display: none;
    margin-bottom: 1em;
}

.perfilTextVisible {
    display: block;
}

#perfilMasMenos {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    font-size: 1em;
}