/* ---Galería--- */

/* Organizar las fotos de forma horizontal */
h2{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-top: 1em;
}

.gallery{
    display: flex;
    justify-content: center;
}

.photos {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    flex-wrap: wrap;
    /* flex: 300px; */
}

.photoIndividual {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
}

.photoIndividual img {
    height: 15em;
    width: 15em;
    object-fit: cover;
    border-radius: 50%;
    padding: 1em 1em;
    transition: all 300ms ease 300ms;
}

.photoIndividual p {
    width: 16em;
    height: 4em;
    text-align: center;
    background-color: rgba(128, 105, 22, 0.5);
    padding: .5em;
    color: white;
    position: absolute;
    bottom: 0;
    border-radius: 16px;
    visibility: hidden;
    transition: all 300ms ease;
}

.photoIndividual img:hover {
    transform: scale(1.2);
}

.photoIndividual img:hover+p {
    visibility: visible;
}

.photoIndividual img:active+p{
    visibility: visible;
}

/* ---Perfil--- */
.perfil {
    display: flex;
    justify-content: center;

}

.perfilArt {
    max-width:800px;
    border: 1px solid black;
    border-radius: 1em;
    font-size: 1.2em;
    position: relative;
    margin-top: 1em;
    background-color: rgba(190, 210, 223, 0.5);
}

/* .perfilArt p {
    padding: 1em;
} */

.textoEscondido {
    margin-bottom: .5em;
}

#leerMasMenos {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
    font-size: 1em;
}