*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: left;
    font-size: 2.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
}
h2{
    padding-left:1em ;
    padding-right:1em ;
}
.hisContainerContainer{
    display: flex;
    justify-content: center;
}
.hisContainer{
    position: relative;
    margin: 1.5em;
    display: flex;
    max-width: 1200px;
}

.his {
    
    width: 70%;
    background-color: rgb(120, 138, 218);
    border-radius: 1.2em;
    max-width: 1200px;
    position: relative;
    font-size: 1em;
    margin: 1em;
    box-shadow: -1em 1em 0.5em rgba(0, 0, 0, 0.437);
    max-width: 1200px;
    padding: 1em;
    margin-right: 2em;
    
}
.his p{
    padding: 2em;
    padding-bottom: 2em;
}

.hisImg img {
    width: 22em;
    margin: 1em;
    border-radius: 20px;
    box-shadow: -1em 1em 0.5em rgba(0, 0, 0, 0.437);
}
.hisImg p{
    width: 20em;
    background-color: #9cc969;
    padding: 1em;
    border-radius: 1em;
    box-shadow: -1em 1em 0.5em rgba(0, 0, 0, 0.437);
    margin-left: 1em;
    margin-top: 1em;
    font-size: 1.1em;
}
