table{
    table-layout: fixed;
    width: 100%;

    /* border: 3px solid black; */
    border-collapse: collapse;
    margin-top: 1em ;
}
caption{
    border: 3px solid black;
}
th{
    border: 3px solid black;
}
td{
    border: 3px solid black;
}
.recreo {
    background-color: rgb(160, 95, 75);
}

.container_horario {
    display: flex;
    justify-content: center;
} 
.container_table{
    max-width: 1200px;
}