table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;

}

caption {
    border: 3px solid black;
    border-bottom: 0;
    padding: 0, 7em;
    font-size: 2em;
    background-color: #e67c55;

}

th {
    border: 3px solid black;
    padding: 1em;

}

td {
    border: 3px solid black;
    padding: 0.7em;
    text-align: center;

}

.recreo {
    background-color: rgb(120, 138, 218);
    text-align: center;
    text-decoration: underline;
    font-size: 1.1em;
}

.container_horario {
    display: flex;
    justify-content: center;


}

.container_table {
    max-width: 1200px;

}

@media (max-width: 576px) {
    body {
        font-size: 8px;
    }

    .container_table {
        padding: 1em;

    }
    caption{
        border: 1px solid black;
        border-bottom: 0;
        padding: 0,7em;
        font-size: 2em;
        background-color: #e67c55;
        
    }
    th {
        border: 1px solid black;
        padding: 1em;
    
    }
    td {
        border: 1px solid black;
        padding: 0.5em;
        text-align: center;
    
    }
    
}