/* ////////////////////////MISION//////////////////////////// */


.mision {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 60em;
    padding: 1.9em;

}

.mision img {
    width: 12em;
    height: 17em;
    object-fit: cover;
    border-radius: 1em;
    max-width: 1200px;
    align-self: flex-start;
    display: block;
    border-radius: 2em;
}

.misiontxt {
    display: flex;
    margin-bottom: 3em;
}


.miscontainer {
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 1em;
    margin-right: 1em;
}

.right {
    text-align: right;
}

.mistxtright {
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    margin-bottom: 3em;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container p {
    padding: 1em;
}

.container h2{
    padding: 0 1em;
}

.container img{
    padding: 1em;
}

.objLi {
    display: block;
    padding: 1em;
}
/* //////////////////////////H1 HIST///////////////////////////////// */
.miscontainer h1 {
    text-align: left;
    font-size: 2.5em;
    margin-bottom: 1em;
}

.misiontitle {
    text-align: end;
}

.mision h2 {
    font-size: 2em;
}

.misHis {
    width: 70%;
    background-color: rgb(120, 138, 218);
    padding: 1.5em;
    border-radius: 1.2em;
    max-width: 1200px;
    position: relative;
    font-size: 1.2em;
}

.misHisImg{
    width: 100%;
    display: flex;
    justify-content: center;
}

.misHisImg img{
    width: 25em;
    height: 15em;
    object-fit: cover;
    
    border-radius: 2em;
}

.misHisMore {
    width: 70%;
    height: 90%;
    background-color: rgb(120, 138, 218);
    padding: 2em;
    border-radius: 1.2em;
    position: absolute;
    max-width: 1200px;
    display: none;
}

.blackBackground {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

#moreHis {
    color: black;
    text-decoration: underline;
    
}
#moreHis  :visited{
    color:black;
}
#moreHis :hover{
    border-radius: 10%;
    background-color:  rgb(160, 172, 231); 
}
/* ////////////////////////////UX/////////////// */
.ux {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uxContainer {
    display: flex;
    justify-content: center;
}

.ux ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.ux li {
    list-style: none;
    margin: 4em;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ux img {
    width: 14em;
    height: 14em;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1em;
}

.ux p{
    text-align: center;
    padding: 1em;
    border-radius: 10% 1em;
    box-shadow: -1em 1em 0.5em rgba(0, 0, 0, 0.437);
    background-color:#9cc969;
    font-size: 1.2em;
}

@media screen and (max-width: 576px) {
    /* .misiontxt{
        flex-direction: column;
    } */
    body{
        font-size: 8px;
    }
    .miscontainer{
        flex-direction: column;
    }

    .mision{
        order:-1;
    }
    .ux ul{
        display: block;
    }
    .ux ul li{
        flex-direction: row;
    }
    p{
        font-size: 1.3em;
    }
}
