* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* margin-top: 1em; */
}
.menuPrincipal {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    list-style: none;
    z-index: 11;
}

.menuPrincipal>li a{
    text-decoration: none;
    font-size: 1.2em;
    padding: .5em;
    color: white;
    transition: all 300ms ease;
    font-family: Ramabhadra;
}
.menuPrincipal{
    list-style: none;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.menuPrincipal img{
    width: 3em;
    height: 3em;
    margin: .3em;
}
.menuPrincipal>li {
    /* height: 100%; */
    
    margin: 0 1em;
    position: relative;
}

.submenu {
    width: 13em;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    visibility: hidden;
    position: absolute;
    background-color: white;
    color: black;
    top: 3em;
    left: .5em;
    z-index: 10;
    box-shadow: .5em .5em .5em black;
    transition: all 300ms ease;
}

.submenu::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -11px;
    left: 20px;
    transition: all 300ms ease;
}

.submenu li a {
    color: black;
    transition: all 300ms ease;
}
.menuPrincipal li:hover ul{
    visibility: visible;
}

