* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.menuPrincipal {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    z-index: 11;
}

.menuPrincipal>li {
    margin: 0 1em;
    position: relative;
}

.menuPrincipal>li a {
    text-decoration: none;
    font-size: 1.2em;
    padding: .5em;
    color: white;
    font-family: Ramabhadra;
}

.menuPrincipal>li>a {
    transition: all 300ms ease;
}

.menuPrincipal img {
    width: 3em;
    height: 3em;
    margin: .3em;
}


.submenu {
    width: 13em;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    visibility: hidden;
    position: absolute;
    background-color: white;
    color: black;
    top: 3em;
    left: .5em;
    z-index: 1000000;
    box-shadow: .5em .5em .5em rgb(0, 0, 0);
    transition: all 300ms ease;
}

.submenu::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -11px;
    left: 20px;
}

.submenu li a {
    color: black;
}

.menuPrincipal li:hover ul {
    visibility: visible;
}


/* //////MENU MAX-WIDTH: 576PX\\\\\\ */
nav {
    display: flex;
    align-items: center;
}

#menu-hamburguesa {
    display: none;
}

.menu-hamburguesa {
    display: none;
}

.menu-btn {
    display: none;
    padding: 10px;
}

.menu-btn span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

.menuPrincipal li {
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .menu-btn {
        display: block;
    }

    .menuPrincipal {
        display: none;
        /* background-color: rgb(204, 60, 38); */
        position: absolute;
        /* left: 8%; */
        width: 75%;
        top: 5.3em;
    }

    .menuPrincipal::after {
        content: '';
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid rgb(204, 60, 38);
        position: absolute;
        top: -11px;
        left: 8px;
    }

    .menuPrincipal>li:nth-child(1) {
        border-top: 2px solid rgb(204, 60, 38);
    }

    .menuPrincipal>li {
        background-color: rgb(204, 60, 38);
    }

    .menuPrincipal li {
        display: block;
        padding: 10px;
        border-bottom: 1px solid black;

    }

    .menu-hamburguesa:checked~.menuPrincipal {
        display: block;
    }

}

@media screen and (max-width: 576px) {
    .menu-btn {
        display: block;
    }

    .menuPrincipal {
        display: none;
        /* background-color: rgb(204, 60, 38); */
        position: absolute;
        /* left: 8%; */
        width: 75%;
        top: 5.3em;
    }

    .menuPrincipal::after {
        content: '';
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid rgb(204, 60, 38);
        position: absolute;
        top: -11px;
        left: 8px;
    }

    .menuPrincipal>li:nth-child(1) {
        border-top: 2px solid rgb(204, 60, 38);
    }

    .menuPrincipal>li {
        background-color: rgb(204, 60, 38);
    }

    .menuPrincipal li {
        display: block;
        padding: 10px;
        border-bottom: 1px solid black;

    }

    .menu-hamburguesa:checked~.menuPrincipal {
        display: block;
    }

    .submenu {
        top: 2em;
        left: 10em;
        z-index: 1000;
    }

    .submenu::after {
        content: '';
        width: 0;
        height: 0;
        border-right: 12px solid white;
        border-top: 12px solid white;
        border-bottom: 12px solid transparent;
        position: absolute;
        top: 0;
        left: -8px;
    }

}