.textoescondido {
    flex: auto;
    display: none;

}

.textVisible {
    display: block;


}

.textovisible {
    width: 600px;
    padding: 30px;
    /* background-color: rgb(120, 138, 218); */
    border-radius: 45px;



}

.textoyvideo {
    display: flex;
    box-shadow: -1em 1em 0.5em ;
    border-radius: 30px;
}

@media screen and (max-width: 576px) {
    .textoyvideo {
        display: block;
    }

    .textovisible {
        width: 100%;


    }

}

.textoimagencooperativa {
    display: flex;
    align-items: center;


    box-shadow: -1em 1em 0.5em ;
    border-radius: 30px;
}

.textocooperativa {
    width: 600px;
padding: 30px;
}

.brochasycorcheas {
    display: flex;
 
    box-shadow: -1em 1em 0.5em ;
    
    border-radius: 30px;
}

.textobrochasycorcheas {

    width: 600px;
    padding: 30px;



}

.precentacion {
    font-size: 1.5em;
    padding: 30px;
    background-color: #42bfdd;
    border-radius: 30px;
    
 
    
}

.contenedor {
    max-width: 1200px;
    margin: 30px;

}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imagen {
    border-radius: 10px;
    width: 250x;
    height: 250px;
    object-fit: contain;
    margin: 35px;

}

iframe {
    border-radius: 10px;
    margin: 15px;
}




p{
    font-size: 1.2em;

}


h2{
margin-top: 60px;

}