* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.textoVisible {
    border-radius: 45px;
}

.textoyvideo {
    display: flex;
    box-shadow: -1em 1em 0.5em;
    border-radius: 30px;
}

.textoimagencooperativa {
    display: flex;
    align-items: center;
    box-shadow: -1em 1em 0.5em;
    border-radius: 30px;
}

.textocooperativa {
    width: 37.5em;
    padding: 2em;
}

.brochasycorcheas {
    display: flex;
    box-shadow: -1em 1em 0.5em;
    border-radius: 30px;
}

.textobrochasycorcheas {
    width: 37.5em;
    padding: 2em;
}

.precentacion {
    font-size: 2em;
    padding: 2em;
    background-color: #42bfdd;
    border-radius: 30px;
}

.contenedor {
    max-width: 1200px;
    margin: 2em;

}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imagen {
    border-radius: 10px;
    width: 250x;
    height: 250px;
    object-fit: contain;
    margin: 2em;

}

iframe {
    border-radius: 10px;
    width: 100%;
    margin: 1em;
}




main p {
    font-size: 1.2em;

}


h2 {
    margin-top: 4em;
    margin-left: 2em;

}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 3em;
        margin: 1em;
    }

    main p {
        font-size: 2em;
        margin: 1em;
    }

    .contenedor {
        width: 100%;
    }

    .textoyvideo,
    .brochasycorcheas,
    .textoimagencooperativa {
        width: 80%;
        margin: 3em;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .textoVisible {
        width: 80%;
        margin: 3em;
    }

    .brochasycorcheas p {
        width: 80%;
        margin: 1em;
    }



}