@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

/* Estilos de espera mientras carga la página */
#bodyContainer {
    display: none;
}

#loaderContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(209, 205, 205, 0.306);
}

#loader {
    border: 16px solid #bfdfd3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
}

.loaderText {
    font-size: 2em;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
    text-decoration: none;
}

body{
    min-height: 100vh;
    position: relative;
    padding-bottom: 30px;
}

main{
    margin-bottom: 50px;
}

header {
    width: 100%;
}

.headerSuperior {
    width: 100%;
    display: flex;
    justify-content: center;

}

.logoContainer {
    max-width: 1200px;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.logoContainer img {
    /* width: 8em; */
    padding: 0.5em;
    height: 6em;
}

nav {
    position: relative;
    width: 100%;
    height: 4em;
    margin: auto;
    background-color: rgb(204, 60, 38);
}

/* Body */
/* Clases usadas para ocultar y mostrar párrafos */
.textoEscondido {
    display: none;
}

.textoVisible {
    display: block;
    padding: 1.8em;
}


/* ///////////////////////////////FOOTER////////////////////// */

footer {
    width: 100%;
    background-color: rgb(204, 60, 38);
    padding: 20px 0;
    margin: 1em 0;
    position: absolute;
    bottom: -25px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    text-align: center;
    color: white;
}

.location {
    text-align: left;
}

.brand {
    text-align: right;
}

.social-icons ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 10px;
    transition: all 300ms ease-in-out;
}

.social-icons img {
    width: 30px;
    height: auto;
}

.social-icons li:hover {
    transform: scale(1.2);
}

/* Diseño responsivo */

@media (max-width: 576px) {
    footer {
        height: 3.5em;
        background-color: rgb(204, 60, 38);
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .socialIcons img {
        width: 3em;
        padding: 0.5em;
    }
}